#loader {
    position: fixed;
    z-index: 1020;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

#spinner {
    border: 3px solid #333;
    border-top: 3px solid transparent;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 0.7s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.navbar {
    background-color: slategray;
    border-radius: 0;
    margin-bottom: 0;
    z-index: 1040;
}

.navbar-brand,
.navbar a:hover {
    color: white;
}

.jumbotron {
    margin-bottom: 0;
    background-color: #e2eaf3;
    border-bottom: 2px solid #bbc9d8;
}

.keen-dashboard {
    padding: 60px;
    background-image: url("../img/old_mathematics.png");
}
@media only screen and (max-width: 992px) {
    .keen-dashboard {
        padding-left: 40px;
        padding-right: 40px;
    }
}
/* TOOLTIPS */
.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(44, 44, 44, 0.8);
    color: #fff;
    border-radius: 2px;
  }
  
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}
  
.dc-chart g.row text {
    fill: black;
}

/* make all charts fill parent containers */
.dc-chart {
    width: 100%
}

.dc-select-menu {
    background: slategray;
    width: 100%;
    border: none;
    position: relative;
    height: 31px;
    font-size: 1.25rem;
    color: white;
    vertical-align: middle;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 0px;
}

#languageChart .x.axis text {
    text-anchor: end !important;
    -ms-transform: rotate(-45deg) translate(-8px, 0px); /* IE 9 */
    -webkit-transform: rotate(-45deg) translate(-8px, 0px); /* Safari */
    transform: rotate(-45deg) translate(-8px, 0px);
    transition: .5s;
}

@media only screen and (max-width: 768px) {
    #languageChart .x.axis text {
        -ms-transform: rotate(-90deg) translate(-10px, -13px); /* IE 9 */
        -webkit-transform: rotate(-90deg) translate(-10px, -13px); /* Safari */
        transform: rotate(-90deg) translate(-10px, -13px);
        transition: .5s;
    }
}

@media only screen and (min-width: 992px) {
    #languageChart .x.axis text {
        font-size: 1.325rem;
    }
}

#countryPieChart svg,
#tabsSpaces svg {
    display: block;
    margin: auto;
}

.chart-notes {
    font-style: italic;
}

.footer {
    text-align: center;
    background-color: slategray;
    color: white;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

.footer a,
.footer a:hover {
    font-weight: 700;
    color: white;
}