<!DOCTYPE html>
<html>

<head>
  <title>Coding Language Popularity by criteria - based on the StackOverflow Survey 2017 Results</title>
  <link rel="stylesheet" href="{{ url_for ('static',
    filename='lib/css/bootstrap.min.css')}}">
  
  <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='css/custom.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/keen-dashboards.css')}}">
  <!--<link rel="stylesheet" href="{{url_for ('static', filename='lib/css/introjs.css')}}" />-->
</head>

<body class="keen-dashboard">

  <div id="loader">
    <p>Please wait while data is loading</p>
    <div id="spinner"></div>
  </div>
  
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="./">Coding Language Popularity by criteria - based on the StackOverflow Survey 2017 Results</a>
      </div>
    </div>
  </div>

  {% block content %}
  {% endblock %}

  <script src="{{ url_for ('static', filename='lib/js/jquery.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/crossfilter.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='js/graph.js')}}"></script>
  <script src="{{ url_for ('static', filename='js/script.js')}}"></script>
  <!--<script src="{{ url_for ('static', filename='lib/js/intro.js')}}" type="text/javascript"></script>-->
</body>

</html>