<!DOCTYPE html>
<html lang="en">

<head>
  <title>Coding Language Popularity based on the Stack Overflow Survey 2017 Results</title>
  <link rel="stylesheet" href="{{ url_for ('static',
    filename='lib/css/bootstrap.min.css')}}">
  
  <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/keen-dashboards.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='css/custom.css')}}">
  <link rel="stylesheet" href="{{url_for ('static', filename='lib/css/introjs.css')}}" />
</head>

<body>

  <div id="loader">
    <p>Please wait while data is loading</p>
    <div id="spinner"></div>
  </div>
  
  <nav class="navbar navbar">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Dashboard</a>
      </div>
    </div>
  </nav>

  {% block content %}
  {% endblock %}

  <footer class="footer">
    <div class="container">
      <p>April 2018 | Coded by <a href="https://www.sebastiankulig.com" target="_blank" title="Sebastian Kulig - Full Stack Developer">Sebastian Kulig</a></p>
      <p>Source Files: <a href="https://github.com/sebam2k4/StackOverflow-2017-Survey-Data-Visualization" target="_blank">Github</a></p>
    </div>
  </footer>

  <script src="{{ url_for ('static', filename='lib/js/jquery.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/crossfilter.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/d3-tip.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='js/graph.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/intro.js')}}"></script>
</body>

</html>